body {
    font-family: Alegreya;
  }
  .header,
  .main {
    display: flex;
    justify-content: space-around;
  }
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
  .aside > a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(146, 80, 212, 1);
  }
  .aside > a:hover {
    text-shadow: 2px 4px 8px #6c33a5;
  }
  .img {
    width: 30px;
  }
  .header {
    background-color: rgba(146, 80, 212, 1);
    color: white;
    align-items: center;
    padding: 5px 0;
  }
  .avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  .text {
    width: 300px;
    text-align: justify;
  }
  .name {
    margin-bottom: 0;
    text-decoration: underline;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 300px;
  }
  #todaysDate {
    width: 600px;
    text-align: center;
  }
  .logo-name {
    font-weight: 600;
    font-size: 20px;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid rgba(146, 80, 212, 1);
  }
  .h3 {
    margin-bottom: 0;
    text-align: center;
  }