.container {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.card-container {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    margin-top: 50px;
}

.name {
    border: 1px solid black;
    height: 100px;
    text-align: center;
}

.price {
    height: 150px;
    text-align: center;
}

.selected {
    background-color: rgb(201, 24, 24);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card_button {
    margin-top: 23px;
    height: 40px;
    width: 100px;
}