.container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 500px;
}

.card-container {
    border: 1px solid black;
    height: 500px;
    width: 400px;
}

.name {
    border: 1px solid black;
    height: 100px;
    text-align: center;
}

.price {
    height: 150px;
    text-align: center;
}

.selected:hover {
    background-color: rgb(233, 45, 45);
}