.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
  font-family: Acme;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

input {
  background-color: aliceblue;
}

button:hover {
  border: 2px dotted #3a7999;
  color: #3a7999;
  background: #d5ece5;
}